@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-site-bg text-white;
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

/* gradient */
.gradient {
  /* background: linear-gradient(135deg, #df26c8, #fa4fa1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  font-weight: bold;
  background: linear-gradient(90deg, #ff00ff, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* About */

.about__wrapper {
  padding: 4rem 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about__heading {
  text-align: center;
}
.about__heading h4 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.1rem;
}

.about__heading h2 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}

.about__heading hr {
  border: 2px solid;
  width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #df26c8, #fa4fa1);
  height: 6px;
  border: none;
}
.about__content {
  text-align: center;
}
.about__content h3 {
  font-family: "EuroStyle Normal", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.about__content p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-top: 1rem;
}

.heading {
  font-family: "EuroStyle Normal", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2em;
}
.font {
  font-family: "EuroStyle Normal", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.small-heading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.1rem;
}
.main-heading {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}
.desc {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-top: 1rem;
}
